.site-header > div {
  display: flex;
  align-items: center;
}

.site-header {
  width: calc(
    var(--large-monitor-width, 1200px) - var(--m-gutter, 40px) * 2 -
      var(--edit-gutter, 0px) * 2
  ) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.site-header .info {
  word-break: break-all;
}

.site-header h3.title {
  margin-bottom: 1rem !important;
  color: #4296b2;
}

.site-header .label {
  margin-bottom: 0;
  font-weight: bold;
  /* text-align: center; */
}

.site-header .info {
  margin-bottom: 0;
}

.site-header {
  /* .info {
    text-align: center;
  } */
}

.environmental-information {
  width: calc(
    var(--large-monitor-width, 1200px) - var(--m-gutter, 40px) * 2 -
      var(--edit-gutter, 0px) * 2
  ) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.map-render {
  min-height: 500px;
  padding-top: 50px;
}

.site-header .ui.selection.dropdown {
  min-height: auto;
  flex-flow: row;
  /* justify-content: center !important; */
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: none;
  color: #989898;
}

.site-header .divider.text {
  /* justify-content: center !important; */
}

.site-header .ui.active.selection.dropdown:hover {
  box-shadow: none !important;
}

.site-header .ui.selection.dropdown .dropdown.icon {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  margin: 0;
  margin-left: 0.5em !important;
  float: none;
  font-size: 1em !important;
}

.site-location-map {
  height: 400px;
}

.site-location-map .ol-map {
  height: 400px;
  min-height: 400px;

  .ui.loader {
    top: unset;
    right: 0;
    bottom: 0;
    left: unset;
  }
}

.site-location-map.visible.transition {
  display: flex !important;
}

.site-location-map .ol-map {
  height: 400px;
  min-height: 400px;

  .ui.loader {
    top: unset;
    right: 0;
    bottom: 0;
    left: unset;
  }
}

.site-location-map .privacy-protection .overlay {
  position: relative;
}

.site-location-map .privacy-protection .overlay .wrapped {
  opacity: 1;
}
/* 




*/
