.site-explorer {
  display: flex;
  max-height: 500px;
  flex-direction: column;
  border: 1px solid #5496b2;

  &:not(.site-explorer--expanded):hover {
    .site-explorer__toolbar:hover {
      background-color: #f6f6f6;
    }
  }
}

.site-explorer__toolbar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  .toolbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .toolbar-left__content {
    display: flex;
    flex-direction: column;
    gap: 1px;

    * {
      margin: 0;
    }

    .label {
      color: #4296b2;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 15px;
    }

    .value {
      font-weight: 700;
      line-height: 1.2;
    }
  }

  .expand-btn {
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.site-explorer__content--wrapper {
  display: flex;
  overflow: hidden;
  max-height: 0;
  flex: 1;
  opacity: 0;
  transition:
    max-height 0.4s ease-out,
    opacity 0.4s ease-out,
    padding-bottom 0.4s ease-out;

  &.visible {
    max-height: 500px;
    opacity: 1;
  }
}

.site-explorer__content {
  display: grid;
  min-height: 0;
  flex: 1;
  padding: 0px 12px 20px 12px;
  grid-template-columns: 1fr 22px 2fr;
  grid-template-rows: auto 1fr;
  row-gap: 4px;

  > .facilities-panel-label {
    grid-column: span 2;
    grid-row: 1;
  }

  > .installations-panel-label {
    grid-column: 3;
    grid-row: 1;
  }

  > .facilities-panel {
    grid-column: span 2;
    grid-row: 2;
  }

  > .installations-panel {
    grid-column: 3;
    grid-row: 2;
  }

  .panel-label {
    margin: 0;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 22.4px;
  }

  .panel {
    -ms-overflow-style: none; /* IE/Edge */
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }

  .facilities-panel {
    display: flex;
    flex-direction: column;
  }

  .connector {
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: end;
    padding: 0 4px;

    .connector-line {
      display: block;
      width: 2px;
      height: 100%;
      background-color: #5496b2;
    }
  }

  .entities-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 4px;
    list-style: none;

    .list-card {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 12px 20px 12px 40px;
      border-radius: 2px;
      background-color: #f6f6f6;
      cursor: pointer;
      font-size: 14px;

      p {
        margin: 0;
      }

      .list-card-title {
        position: relative;
        color: #666;
        font-weight: bold;
      }

      .list-card-index {
        position: absolute;
        top: 0;
        left: -2px;
        transform: translateX(-100%);
      }

      &.selected {
        background-color: #4295b3;
        color: #fff;

        .list-card-title {
          color: #fff;
        }
      }
    }

    &.facilities-list {
      .list-card {
        width: calc(100% - 30px);
      }

      .list-card.selected::before {
        position: absolute;
        top: 50%;
        right: -24px;
        display: block;
        width: 20px;
        height: 2px;
        background-color: #4295b3;
        content: '';
        transform: translateY(-50%);
      }

      .list-card::after {
        position: absolute;
        top: -4px;
        right: -26px;
        display: block;
        width: 2px;
        height: calc(100% + 4px);
        background-color: #4295b3;
        content: '';
      }

      .list-card::before,
      .list-card::after {
        cursor: default;
        pointer-events: none;
      }
    }

    &.installations-list {
      display: grid;
      grid-template-columns: 1fr 1fr;

      > li {
        display: flex;

        .list-card {
          flex: 1;
        }
      }
    }
  }
}
